<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">Created by Miguel Saldana using</p>
    <%= link_to image_tag("rails-logo.png", alt: "rails-logo", class: "rails-logo-small") %>
  </div>
</div>