<div class="container">
  <div class="jumbotron center-element">
    <h1 id="raleway-font">Miguel Saldana</h1>
    <h1 id="raleway-font"><strong>QA Automation Engineer</strong></h1>
    <p class="text-center">SQA engineer, ruby enthusiast, 3D developer, geek and corgi owner.</p>
    <%= link_to resume_path, class:"btn button_landing btn-lg btn-xlarge"  do %>
        <strong>RESUME</strong>
    <% end %>
    <br>
    <br>
      <%= image_tag("engineer2.gif", alt: "engineer typing fast", style: "width:40%; height: auto;") %>
  </div>

</div>